<% require './lib/post_reader.rb' %>


<% blog = PostReader.new %>
<% if blog.empty? %>
  <h3> I haven't made any posts! </h3>
<% else %>

<h2> Last 5 posts </h2>
<ul>

  <% blog.most_recent(5).each do |post| %>
    <li><a href="<%= post.path %>"><%= post.name%></a> <%= post.date %> </li>
   <!-- <p> <%= post.contents%> <p><hr> -->
   <% end %>
  <% end %>
</ul>
