<!DOCTYPE html>
<html>
  <head>
    <!-- setting a title here seems to override all other titles. how to fix that? -->
    <link href="/css/layout.css" rel="stylesheet">
  </head>

  <body>
    <header>
      <a href="/" class="title">Kung Fu Ipsum</a>
      <nav>
        <ul class="horizontal-list">
          <li><a href="/">Home</a></li>
          <li><a href="/about-me">About me</a>
            <ul class="dropdown">
              <li><a href="#">Ada</a></li>
              <li><a href="#">Seven Star</a></li>
              <li><a href="#">Cats</a></li>
            </ul>
          </li>
          <li><a href="/blog-index">Blog</a></li>
        </ul>
      </nav>
    </header>

    <div id="main">
      <div id="left">
      </div>
      <div id="contents">
        <%= yield %>
      </div>
      <div id="right">
      </div>
    </div>


    <hr>
    <small>&copy; 2014 Copyright Notice: Don't steal my awesome content! </small>
  </body>
</html>
