<head>
  <link href="/layout.css" rel="stylesheet">
  <script src="/app.js"></script>
</head>

<a href="/">Home</a>
<a href="/about-me">About me</a>

<hr>
<%= yield %>
<hr>

<a href="/dicking-around">Dicking around</a>
