<!DOCTYPE html>
<html>
  <head>
    <title>Kung Fu Ipsum</title>
    <link href="/css/layout.css" rel="stylesheet">
  </head>

  <body>
    <header>
      <a href="/" class="title">Kung Fu Ipsum</a>
      <nav>
        <ul class="horizontal-list">
          <li><a href="/">Home</a></li>
          <li><a href="/about-me">About me</a>
            <ul class="dropdown">
              <li><a href="#">Ada</a></li>
              <li><a href="#">Seven Star</a></li>
              <li><a href="#">Cats</a></li>
            </ul>
          </li>
          <li><a href="/blog-index">Blog</a></li>
        </ul>
      </nav>
    </header>


    <section>
      <hr>
      <%= yield %>
    </section>


    <hr>
    <p class="small">Copyright Notice: Don't steal my awesome content!</p>
  </body>
</html>
