<head>
  <link href="/layout.css" rel="stylesheet">
  <!-- // <script src="/app.js"></script> -->
</head>
<div class="navigation">

<a href="/">Home</a>
<a href="/about-me">About me</a>
<a href="/blog-index">Blog</a>

 </div>

<hr>
<%= yield %>
<hr>
Some smartass comment goes here
