
<form action='/blog-index' method='POST'>
  First name: <input type="text" name="first_name"/>

  Last name: <input type="text" name="last_name"/>

  Password: <input type="password" name="password"/>

  <input type="submit"/>
</form>
