<!DOCTYPE html>
<html>
<head>
  <title>Look at me go</title>
  <!-- <link rel="stylesheet" href="/style.css"> -->
</head>



<body>
  <h1>Look at me go!</h1>
  <h2>It's 1996!</h2>
  <h3>Explanation:</h3>
  <p>This is where I dick around with the <a href="http://www.htmldog.com/guides/html/beginner/">htmldog tutorial</a>. I have <strong>no</strong> skills right now, so it looks like 1996.</p>
  <h3>Here are some things I like:</h3>
  <h4><a href="#kaj">This one</a> is my favorite</h4>
  <ul>
    <li>
      Cats <br><img src="images/cat.jpg"  height=200>
    </li><br>
    <li id="kaj">
      Seven Star <br><img src="images/punching.jpg" height=200>
      <ol>
        <li>
          Punching people
        </li>
        <li>
          Kicking people
        </li>
        <li>
          Looking like a badass
        </li>
        <li>
          Partying
        </li>
      </ol>
      <br>
    </li>
    <li>
      Spiders<br> <img src="images/spiders.png" height=200>
    </li>
  </ul>

<h3>Tables are a pain in the ass</h3>
<table>
    <tr>
        <td>Row 1, cell 1</td>
        <td>Row 1, cell 2</td>
        <td>Row 1, cell 3</td>
    </tr>
    <tr>
        <td>Row 2, cell 1</td>
        <td>Row 2, cell 2</td>
        <td>Row 2, cell 3</td>
    </tr>
    <tr>
        <td>Row 3, cell 1</td>
        <td>Row 3, cell 2</td>
        <td>Row 3, cell 3</td>
    </tr>
    <tr>
        <td>Row 4, cell 1</td>
        <td>Row 4, cell 2</td>
        <td>Row 4, cell 3</td>
    </tr>
</table>

</body>
</html>
