header {
  /*making this fixed (or absolute, still don't understand the difference) breaks the nav box's float */
  display: block;
  height: 100px;
  border-radius: 5px;
  box-shadow: -1px 1px 2px;
  font-family: Optima, Segoe, "Segoe UI", Candara, Calibri, Arial, sans-serif;
  background: #2F5248 url(/images/kicking.png) no-repeat left center;
}

header .title {
  display: inline-block;
  margin-left: 70px;
  margin-top: 35px;
  margin-right: 4px;
  padding-right: 4px;
  font-size: 3em;
  background-color: #2F5248;
  text-decoration: none;
}

/* Nav styling for header nav links only */
header nav {
  float: right;
  margin-top: 54px;
}

/* Nav styling to include blog-nav links on blog index page */
nav {
  display: block;
  height: 30px;
  border-radius: 5px;
  background-color: #34514e;
}

nav a {
  display: inline-block;
  padding: 2px;
  margin: 2px;
  border-radius: 5px;
  font-size: 1.2em;
  color: #d9e485;
  text-decoration: none;
  background-color: #2F5248;
}

nav a:hover {
  background-color: #223534;
}

nav ul {
  list-style: none;
}

nav .horizontal-list > li {
  display: inline-block;
}

/* Drop-down menu styling */
.dropdown {
  display: none;
  border-radius: 5px;
}

li:hover > .dropdown {
  position: absolute;
  background-color: #2F5248;
  display: block;
  margin: 0;
  padding: 0;
}

.dropdown li a {
  color: #d9e485;
}

/* Overwrites default nav font size for blog nav links */
.blog-nav a {
  font-size: 1em;
  font-family: Optima, Segoe, "Segoe UI", Candara, Calibri, Arial, sans-serif;
}

/* Elements toggled when showing/hiding full blog post */
.hidden {
  display: none;
  margin: 0 10px 0 10px;
}

.snippet {
  display: inline;
}

.expand {
  text-decoration: underline;
  color: #1129c6;
}

.collapse {
  text-decoration: underline;
  color: #1129c6;
  display: none;
}

/* General html styling */
body {
  background-color: #4b8273;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 10px;
  text-align: justify;
  max-width: 900px;
  min-width: 630px;
  /*position: static;*/
}

a:link {
  color: #1129c6;
}

a:visited {
  color: #d9e485;
}

pre {
  background-color: #f9ffbd;
  margin: 0 20px 0 20px;
}

p {
  font-size: 1em;
  line-height: 1.5em;
  margin: 10px;
}

img {
  padding: 10px;
}

ul {
  line-height: 1.5em;
}

.small {
  font-size: 14px;
}
