header {
  display: block;
  background-color: #2F5248;
  height: 30px;
  border-radius: 5px;
  box-shadow: -1px 1px 2px;
}

nav {
  display: block;
  background-color: #2F5248;
  height: 30px;
  border-radius: 5px;
}

header nav {
  float: right;
}

nav a {
  display: inline-block;
  padding: 2px;
  margin: 2px;
  background-color: #223534;
  border-radius: 5px;

  font-family: optima;
  font-size: 1.2em;
  color: #d9e485;
  text-decoration: none;
}

nav a:hover {
  background-color: #34514e;
}

header a {
  display: inline-block;
  padding: 2px;
  margin: 2px;
  background-color: #223534;
  border-radius: 5px;

  font-family: optima;
  font-size: 1.2em;
  color: #d9e485;
  text-decoration: none;
}

header a:hover {
  background-color: #34514e;
}

a:link {
  color: #1129c6
}

a:visited {
  color: #d9e485
}

body {
  background-color: #4b8273
}
