Here are some cat pictures:<p>
<img src="../views/images/grumpy-cat.jpg" /><br>
<img src="http://cdn.memestache.com/2012/12/3/memestache.com_279921_1355464802.jpg" /><br>
<a href="http://cdn.memestache.com/2012/12/3/memestache.com_279921_1355464802.jpg">Grumpy Cat</a><br>
<a href="../views/images/grumpy-cat.jpg">This link doesn't work</a>
